<!DOCTYPE html>
<html lang="en">
<head>
  <title>Flask_Chat_App</title>
</head>
<body>
  <h3 style='color: #ccc;font-size: 30px;'>No message yet..</h3>
  <div class="message_holder"></div>
  <form action="" method="POST">
    <input type="text" class="username" placeholder="User Name"/>
    <input type="text" class="message" placeholder="Messages"/>
    <input type="submit"/>
  </form>
  <style>
    .line {
      fill: none;
      stroke: steelblue;
      stroke-width: 2px;
    }
  </style>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script type="text/javascript">
  let data;

  var socket = io.connect('http://' + document.domain + ':' + location.port);
  console.log(document.domain, location.port);
  socket.on( 'connect', function() {
    socket.emit( 'connection', {
      data: 'Connected'
    })
    var form = $( 'form' ).on( 'submit', function( e ) {
      e.preventDefault()
      let user_name = $( 'input.username' ).val()
      let user_input = $( 'input.message' ).val()
      socket.emit( 'my event', {
	user_name : user_name,
	message : user_input
      })
    $( 'input.message' ).val( '' ).focus()
    })
  })
  socket.on( 'init-data', function( msg ) {
  	console.log(msg);
    data = msg;
    graph();
    $( 'h3' ).remove()
    $( 'div.message_holder' ).append( 
		`<div> 
			<p>${JSON.stringify(msg[0])}</p> 
			<p>${JSON.stringify(msg[1])}</p>
		</div>`
	  )
  })

  // D3 Graph Code

  // set the dimensions and margin of the graph
  let margin = {top: 20, right: 20, bottom: 20, left: 50},
  width = 960 - margin.left - margin.right,
  height = 500 - margin.top - margin.bottom;

  // parse the date / time
  let parseTime = d3.timeParse("%Y-%m-%d %H:%M:%S");

  // set the ranges
  let x = d3.scaleTime().range([0, width]);
  let y = d3.scaleLinear().range([height, 0]);

  // define the line
  let valueline = d3.line()
    .x(function(d) { 
      console.log("d.date = ", x(d.date));
      return x(d.date); 
    })
    .y(function(d) { 
      console.log("d.temperature = ", y(d.temperature));
      return y(d.temperature);
    });
  // append the svg object to the body of the page
  // appends a 'group' element to 'svg'
  // moves the 'group' element to the top left margin
  let svg = d3.select("body").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform",
          "translate(" + margin.left + "," + margin.top + ")");
  
  function graph() {
    // format the data
    data.forEach(function(d) {
        d.date = parseTime(d.time);
        d.temperature = +d.temperature;
    });

    // Scale the range of the data
    console.log(d3.extent(data, (d) => { return d.date }));
    x.domain(d3.extent(data, (d) => { return d.date; }));
    let bounds = d3.extent(data, (d) => { return d.temperature; });
    bounds[0] -= 5;
    bounds[1] += 5;
    y.domain(bounds); 
    // d3.max(data, (d) => { return d.temperature; })]);

    console.log(x(parseTime("2019-03-05 22:42:54")));

    // Add the valueline path.
    svg.append("path")
        .data([data])
        .attr("class", "line")
        .attr("d", valueline);

    // Add the X Axis
    svg.append("g")
        .attr("transform", "translate(0," + height + ")")
        .call(d3.axisBottom(x));

    // Add the Y Axis
    svg.append("g")
        .call(d3.axisLeft(y));

    // Second Y Axis
    svg.append("g")
      .attr("transform", "translate(" + width + ", 0)")
      .call(d3.axisRight(y));
  }
</script>
</body>
</html>
